In [ ]:
import pandas as pd

# Importing CSV file
df = pd.read_csv('/content/AppleStockDividend.csv')

data_types = df.dtypes
print(data_types)

duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

df.info()

df.describe()

df.isnull().sum()

Date          object
Dividends    float64
dtype: object
Number of duplicate rows: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       84 non-null     object
 1   Dividends  84 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.4+ KB

Date         0
Dividends    0
dtype: int64