In [ ]:
import pandas as pd

# Importing CSV file
df = pd.read_csv('/content/stretch_exercise_dataset new.csv')

data_types = df.dtypes
print(data_types)

duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

df.info()

df.describe()

df.isnull().sum()

Exercise Name        object
Equipment            object
Preparation          object
Execution            object
Target_Muscles       object
Synergist_Muscles    object
Main_muscle          object
dtype: object
Number of duplicate rows: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Exercise Name      94 non-null     object
 1   Equipment          94 non-null     object
 2   Preparation        94 non-null     object
 3   Execution          94 non-null     object
 4   Target_Muscles     93 non-null     object
 5   Synergist_Muscles  94 non-null     object
 6   Main_muscle        94 non-null     object
dtypes: object(7)
memory usage: 5.3+ KB

Exercise Name        0
Equipment            0
Preparation          0
Execution            0
Target_Muscles       1
Synergist_Muscles    0
Main_muscle          0
dtype: int64