In [ ]:
!pip install pandas
!pip install numpy
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)

In [ ]:
# Importing CSV file
df = pd.read_csv('/content/League of legend Champions 2024.xls')
df.dtypes

Name             object
Nick Name        object
Classes          object
Release Date     object
Last Changed     object
Blue Essence      int64
RP                int64
Difficulty       object
Role             object
Range type       object
Resourse type    object
Base HP           int64
Base mana         int64
dtype: object

In [ ]:
df.head()

,Name,Nick Name,Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty,Role,Range type,Resourse type,Base HP,Base mana
0,Aatrox,The darkin blade,Juggernaut,2013-06-13,V14.14,4800,880,Advanced,Top,Melee,Blood Well,650,0
1,Ahri,The nine-tailed fox,Burst,2011-12-14,V14.18,3150,790,Intermediate,Middle,Ranged,Mana,590,418
2,Akali,The rogue assassin,Assassin,2010-05-11,V14.18,3150,790,Expert,"Top,Middle",Melee,Energy,600,200
3,Akshan,The rogue sentinel,Marksman Assassin,2021-07-22,V14.14,4800,880,Intermediate_Plus,Middle,Ranged,Mana,630,350
4,Alistar,The minotaur,Vanguard,2009-02-21,V14.16,1350,585,Novice,Support,Melee,Mana,685,350

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           168 non-null    object
 1   Nick Name      168 non-null    object
 2   Classes        168 non-null    object
 3   Release Date   168 non-null    object
 4   Last Changed   168 non-null    object
 5   Blue Essence   168 non-null    int64
 6   RP             168 non-null    int64
 7   Difficulty     168 non-null    object
 8   Role           168 non-null    object
 9   Range type     168 non-null    object
 10  Resourse type  168 non-null    object
 11  Base HP        168 non-null    int64
 12  Base mana      168 non-null    int64
dtypes: int64(4), object(9)
memory usage: 17.2+ KB