In [ ]:
import pandas as pd

# Importing CSV file
df = pd.read_csv('/content/Youtube-Spam-Dataset.csv')

data_types = df.dtypes
print(data_types)

duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

df.info()

df.describe()

df.isnull().sum()

COMMENT_ID    object
AUTHOR        object
DATE          object
CONTENT       object
VIDEO_NAME    object
CLASS          int64
dtype: object
Number of duplicate rows: 3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1956 entries, 0 to 1955
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COMMENT_ID  1956 non-null   object
 1   AUTHOR      1956 non-null   object
 2   DATE        1711 non-null   object
 3   CONTENT     1956 non-null   object
 4   VIDEO_NAME  1956 non-null   object
 5   CLASS       1956 non-null   int64
dtypes: int64(1), object(5)
memory usage: 91.8+ KB

COMMENT_ID      0
AUTHOR          0
DATE          245
CONTENT         0
VIDEO_NAME      0
CLASS           0
dtype: int64