In [ ]:
import pandas as pd

# Importing CSV file
df = pd.read_csv('/content/WHO COVID-19 cases.csv')

data_types = df.dtypes
print(data_types)

duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

df.info()

df.describe()

df.isnull().sum()

Date_reported         object
Country_code          object
Country               object
Continent             object
WHO_region            object
New_cases            float64
Cumulative_cases       int64
New_deaths           float64
Cumulative_deaths      int64
dtype: object
Number of duplicate rows: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58560 entries, 0 to 58559
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_reported      58560 non-null  object
 1   Country_code       58316 non-null  object
 2   Country            58560 non-null  object
 3   Continent          58560 non-null  object
 4   WHO_region         54168 non-null  object
 5   New_cases          39260 non-null  float64
 6   Cumulative_cases   58560 non-null  int64
 7   New_deaths         25084 non-null  float64
 8   Cumulative_deaths  58560 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 4.0+ MB

Date_reported            0
Country_code           244
Country                  0
Continent                0
WHO_region            4392
New_cases            19300
Cumulative_cases         0
New_deaths           33476
Cumulative_deaths        0
dtype: int64